.cabecalho {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__overflow {
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100vw;
    top: 0px;
    justify-content: space-between;
    left: 0px;
    padding: 1em 0.5em 0 0.5em;
  }

  &__procura {
    width: 30%;
    display: flex;
    justify-content: left;
    padding: 0em 1em;
    border-radius: 15px;
    background: rgb(240, 239, 239);
    margin: 0px 2em 0.5em 0;
  }

  @include for-phone-only {
    display: grid;
    grid-template-columns: 70%;
    width: 100%;
    padding: 10px 0px;
    justify-content: space-around;
    margin-left: 1em;
  }

  &__ferramenta {
    &__titulo {
      font-size: 50px;
      padding: auto;

      @include for-phone-only {
        padding-bottom: 10px;
      }
    }
  }

  &__procura {
    @include for-phone-only {
      width: 90%;
    }

    @include for-tablet-only {
      padding: 0.5% 10% 0.5% 1%;
    }

    width: 30%;
    display: flex;
    justify-content: left;
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 20px;
    background: rgb(240, 239, 239);

    &__entrada {
      @include for-phone-only {
        width: 90%;
      }

      border: hidden;
      background: rgb(240, 239, 239);

      &::placeholder {
        color: rgb(194, 192, 192);
      }
    }

    &__icone {

      @include for-tablet-only {
        padding: 8%;
      }

      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 25px;
      border-radius: 360px;
      border: hidden;
    }
  }
}
