.principal {
    @include for-phone-only{
        grid-template-columns: 1fr;
    }
    @include for-tablet-only{
        grid-template-columns: 1fr 1fr;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &__cartao {
        @include for-phone-only{
            margin:2% 4%;
        }
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        padding: 4% 3%;
        margin: 4% 4%;
        color: white;

        &__image {
            width: 20%;
            align-items: left;
        }

        &__titulo {
            font-size: 15px;
            font-weight: bold;
            margin: 15px 20px 5px 0px;
        }

        &__caracteristica {
            display: grid;
            grid-template-columns: 45% 45%;
            padding: 1% 5%;
            justify-content: space-between;

            &__cada {
                border-radius: 100%;
                font-size: 12px;
                display: flex;
                justify-content: space-around;
                padding: 10px 25px;
            }
        }

        &__id {
            padding: 25px 0px;
            font-size: 10px;
        }
    }
}

.clipLoader{
    display: flex;
    align-items: center;
    flex-direction: column;
}