.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
  z-index: 1;
}

.card::after {
  content: "";
  display: block;
  width: 44%;
  height: 115%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 12%;
  left: -3%;
}

.principal {
    margin-top: 40px;
    @include for-phone-only{
        grid-template-columns: 1fr;
    }
    @include for-tablet-only{
        grid-template-columns: 1fr 1fr;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &__cartao {
        @include for-phone-only{
            margin:2% 4%;
        }

        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        padding: 1em 0.7em;
        margin: 0.5em;
        color: white;
        max-height: 135px;

        &__image {
            width: 20%;
            max-width: 100px;
            max-height: 135px;
            align-items: left;
        }

        &__titulo {
            font-size: 15px;
            font-weight: bold;
            margin: 15px 20px 5px 0px;
        }

        &__caracteristica {
            display: grid;
            grid-template-columns: 45% 45%;
            padding: 1% 5%;
            justify-content: space-between;

            &__cada {
                border-radius: 100%;
                font-size: 12px;
                display: flex;
                justify-content: space-around;
                padding: 10px 25px;
            }
        }

        &__id {
            padding: 25px 0px;
            font-size: 10px;
        }
    }
}

.clipLoader{
    display: flex;
    align-items: center;
    flex-direction: column;
}