.cabecalho {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabecalho__overflow {
  display: inline-flex;
  flex-direction: row;
  position: fixed;
  background-color: white;
  z-index: 10;
  width: 100vw;
  top: 0px;
  justify-content: space-between;
  left: 0px;
  padding: 1em 0.5em 0 0.5em;
}
.cabecalho__procura {
  width: 30%;
  display: flex;
  justify-content: left;
  padding: 0em 1em;
  border-radius: 15px;
  background: rgb(240, 239, 239);
  margin: 0px 2em 0.5em 0;
}
@media (max-width: 600px) {
  .cabecalho {
    display: grid;
    grid-template-columns: 70%;
    width: 100%;
    padding: 10px 0px;
    justify-content: space-around;
    margin-left: 1em;
  }
}
.cabecalho__ferramenta__titulo {
  font-size: 50px;
  padding: auto;
}
@media (max-width: 600px) {
  .cabecalho__ferramenta__titulo {
    padding-bottom: 10px;
  }
}
.cabecalho__procura {
  width: 30%;
  display: flex;
  justify-content: left;
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 20px;
  background: rgb(240, 239, 239);
}
@media (max-width: 600px) {
  .cabecalho__procura {
    width: 90%;
  }
}
@media (min-width: 601px) and (max-width: 920px) {
  .cabecalho__procura {
    padding: 0.5% 10% 0.5% 1%;
  }
}
.cabecalho__procura__entrada {
  border: hidden;
  background: rgb(240, 239, 239);
}
@media (max-width: 600px) {
  .cabecalho__procura__entrada {
    width: 90%;
  }
}
.cabecalho__procura__entrada::placeholder {
  color: rgb(194, 192, 192);
}
.cabecalho__procura__icone {
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 25px;
  border-radius: 360px;
  border: hidden;
}
@media (min-width: 601px) and (max-width: 920px) {
  .cabecalho__procura__icone {
    padding: 8%;
  }
}

.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.card::after {
  content: "";
  display: block;
  width: 44%;
  height: 100%;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 5%;
  left: -2%;
}

.principal {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
@media (max-width: 600px) {
  .principal {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 920px) {
  .principal {
    grid-template-columns: 1fr 1fr;
  }
}
.principal__cartao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 1em 0.7em;
  margin: 0.5em;
  color: white;
  max-height: 135px;
}
@media (max-width: 600px) {
  .principal__cartao {
    margin: 2% 4%;
  }
}
.principal__cartao__image {
  width: 20%;
  max-width: 100px;
  max-height: 135px;
  align-items: left;
  z-index: 5;
}
.principal__cartao__titulo {
  font-size: 15px;
  font-weight: bold;
  margin: 15px 20px 5px 0px;
}
.principal__cartao__caracteristica {
  display: grid;
  grid-template-columns: 45% 45%;
  padding: 1% 5%;
  justify-content: space-between;
}
.principal__cartao__caracteristica__cada {
  border-radius: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  padding: 10px 25px;
}
.principal__cartao__id {
  padding: 25px 0px;
  font-size: 10px;
}

.clipLoader {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.paginas {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5% 25%;
}
@media (max-width: 600px) {
  .paginas {
    width: 80%;
    margin: 0.5% 10%;
  }
}
.paginas__cada {
  border-radius: 100%;
  margin: hidden;
  border: hidden;
  padding: 1% auto;
  margin: 0%;
  background: rgb(255, 255, 255);
  color: rgb(129, 129, 129);
  z-index: 4;
}
.paginas__cada--ativa {
  z-index: 4;
  border-radius: 100%;
  border: hidden;
  background: rgb(90, 38, 129);
  color: rgb(255, 255, 255);
  padding: 6px 8px;
}
@media (max-width: 600px) {
  .paginas__cada--ativa {
    padding: 1%;
    margin: 1%;
  }
}
.paginas__cada__span {
  color: rgb(159, 159, 159);
}
.paginas__cada__voltar {
  border-radius: 100%;
  border: hidden;
  padding: 8px;
  margin: 15px;
  background: url("../../Img/setaL.png") no-repeat bottom center scroll;
  background-size: cover;
  z-index: 4;
}
.paginas__cada__proximo {
  border-radius: 100%;
  border: hidden;
  padding: 8px;
  margin: 15px;
  background: url("../../Img/setaR.png") no-repeat bottom center scroll;
  background-size: cover;
  z-index: 4;
}

.body {
  padding: 0% 15%;
}
@media (max-width: 600px) {
  .body {
    padding: 0px;
  }
}
@media (min-width: 601px) and (max-width: 920px) {
  .body {
    padding: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
